.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.offscreen {
  position: absolute;
  left: -9999px;
}

.errmsg {
  background-color: lightpink;
  color: firebrick;
  font-weight: bold;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

/* Bootstrap class overwrite */
.fs-6 {
  font-size: 12px !important;
}

.fs-5 {
  font-size: 13px !important;
}

.fs-4 {
  font-size: 16px !important;
}

.fs-3 {
  font-size: 20px !important;
}

.fs-2 {
  font-size: 24px !important;
}

.fs-1 {
  font-size: 28px !important;
}

.modal-header {
  background-color: rgba(40, 58, 90, 0.9);
  color: white;
}

.navbar .navbar-nav .nav-item:not(:last-child) .nav-link {
  border-right: 2px solid #FFFFFF;
  padding-right: 20px;
}

.table-striped>thead>tr>th {
  background-color: #535353;
  color: #FFFFFF;
}

.table-striped>tbody>tr:nth-child(odd)>td,
.table-striped>tbody>tr:nth-child(odd)>th {
  background-color: #E1DFDF;
}

.table-striped>tbody>tr:nth-child(even)>td,
.table-striped>tbody>tr:nth-child(even)>th {
  background-color: #FFFFFF;
}

.btn-success,
.btn-success:hover,
.btn-success:active,
.btn-success:visited,
.btn-success:focus {
  color: #fff;
  background-color: #B18818;
  border: 1px solid #B18818;
}

.btn-danger,
.btn-danger:hover,
.btn-danger:active,
.btn-danger:visited,
.btn-danger:focus {
  color: #fff;
  background-color: #000000;
  border: 1px solid #000000;
}

.btn-check:checked+.btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check)+.btn:active {
  color: #FFFFFF;
  background-color: #B18818;
  border-color: #B18818;
}

.btn-outline-primary {
  --bs-btn-color: #B18818;
  --bs-btn-border-color: #B18818;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #B18818;
  --bs-btn-hover-border-color: #B18818;
  --bs-btn-focus-shadow-rgb: 13,110,253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #B18818;
  --bs-btn-active-border-color: #B18818;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #B18818;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #B18818;
  --bs-gradient: none;
}

.modal-header {
  background-color: #FFFFFF;
  color: #B18818;
  font-weight: bold;
  border: 0px;
  padding-bottom: 0px;
  border-radius: 35px;
}

.modal-content {
  border-radius: 35px;
}

/* Bootstrap class overwrite */

/* Fonr Awesome class overwrite */
.fas,
.fa-solid,
.fa-thin {
  color: #B18818;
}

td>.fas,
td>.fa-solid,
td>.fa-thin {
  color: #000000;
}

button>.fas,
button>.fa-solid,
button>.fa-thin {
  color: #FFFFFF;
}
/* Font Awesome class overwrite */

@media screen and (min-width: 769px) {
  .PreLoginBgImage {
    background-image: url(images/PreLoginPage-Background.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }

  .loginSectionWidth {
    width: 35%;
  }

  .CenterContentRow {
    position: absolute;
    top: 25%;
    width: 90%;
    transform: translate(5%, 0%);
  }

  .loginTitleTextBlack {
    color: #000000;
    font-size: 3em;
    padding-top: 15vh;
  }

  .loginTitleTextGreen {
    color: #135441;
    font-size: 3em;
    padding-top: 15vh;
  }

  .loginTitleTextRed {
    color: #93131D;
    font-size: 3em;
    padding-top: 15vh;
  }

  .sectionPadding {
    padding: 1.5rem;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .PreLoginBgImage {
    background-image: url(images/PreLoginPage-Background.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }

  .loginSectionWidth {
    width: 75%;
  }

  .CenterContentRow {
    position: absolute;
    top: 20%;
    width: 90%;
    transform: translate(5%, 0%);
  }

  .loginTitleTextGreen {
    color: #135441;
    font-size: 2.25em;
    padding-top: 15vh;
  }

  .loginTitleTextRed {
    color: #93131D;
    font-size: 2.25em;
    padding-top: 15vh;
  }

  .sectionPadding {
    padding: 1rem;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .PreLoginBgImage {
    background-image: url(images/PreLoginPageMobile-Background.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }

  .loginSectionWidth {
    width: 90%;
  }

  .CenterContentRow {
    position: absolute;
    top: 15%;
    width: 90%;
    transform: translate(5%, 0%);
  }

  .loginTitleTextGreen {
    color: #135441;
    font-size: 1.5em;
    padding-top: 0%;
    margin-bottom: 1rem;
  }

  .loginTitleTextRed {
    color: #93131D;
    font-size: 1.5em;
    padding-top: 0%;
    margin-bottom: 1rem;
  }

  .sectionPadding {
    padding: 0.5rem;
  }
}

.CenterContent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.CenterContentMobile {
  position: absolute;
  top: 45%;
  transform: translate(0%, -50%);
}

.RightAlignContent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.input-container {
  display: flex;
  width: 100%;
  margin-bottom: 15px;
}

.FormInput {
  background-color: #FFFFFF;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid black;
  border-radius: unset;
  width: 100%;
  padding: 0;
}

.FormInputGold {
  background-color: #FFFFFF;
  border: 1px solid #E2BF4B;
  width: 100%;
  height: 45px;
}

.FormInputGreen {
  background-color: #FFFFFF;
  border: 1px solid #135441;
  width: 100%;
  height: 45px;
}

.FormInputRed {
  background-color: #FFFFFF;
  border: 1px solid #93131D;
  width: 100%;
  height: 45px;
}

.checkboxGreen {
  background-color: #FFFFFF;
  border: 1px solid #135441;
}

.checkboxRed {
  background-color: #FFFFFF;
  border: 1px solid #93131D;
}

.FormInput:focus {
  background-color: #FFFFFF;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid black;
  border-radius: unset;
  width: 100%;
  padding: 0;
}

.NavbarLogo {
  width: 140px;
  height: 43px;
}

.NavbarProfileImage {
  width: 45px;
  height: 45px;
  border-radius: 45px;
  margin-right: 10px;
}

.NavbarIcon {
  font-size: 25px;
  color: white;
  margin-right: 10px;
}

ul.SkillItems li {
  border-radius: 10px !important;
  margin: 5px;
  width: 50%;
  padding: 10px;
  background-color: #F3F2EF;
}

.rhombusTop-1 {
  background: #E2BF4B;
  width: 5%;
  height: 20vh;
  transform: skewX(15deg);
  opacity: 0.5;
  margin: 0% 0% 0% 5%;
}

.rhombusTop-2 {
  background: #135441;
  width: 10%;
  height: 25vh;
  transform: skewX(15deg);
  opacity: 0.9;
  margin: 0% 0% 0% 0.4%;
}

.rhombusBottom-1 {
  background: #DBCFA8;
  width: 5%;
  height: 20vh;
  position: absolute;
  bottom: 0;
  transform: skewX(15deg);
  opacity: 0.5;
  margin: 0% 0% 0% 85%;
}

.rhombusBottom-2 {
  background: #93131D;
  width: 10%;
  height: 25vh;
  position: absolute;
  bottom: 0;
  transform: skewX(15deg);
  opacity: 0.7;
  margin: 0% 0% 0% 74.7%;
}

.rhombusTopMobile-1 {
  background: #E2BF4B;
  width: 15%;
  height: 10vh;
  transform: skewX(15deg);
  opacity: 0.5;
  margin: 0% 0% 0% 5%;
}

.rhombusTopMobile-2 {
  background: #135441;
  width: 25%;
  height: 15vh;
  transform: skewX(15deg);
  opacity: 0.9;
  margin: 0% 0% 0% 1%;
}

.rhombusBottomMobile-1 {
  background: #DBCFA8;
  width: 15%;
  height: 10vh;
  position: absolute;
  bottom: 0;
  transform: skewX(15deg);
  opacity: 0.5;
  margin: 0% 0% 0% 75%;
}

.rhombusBottomMobile-2 {
  background: #93131D;
  width: 25%;
  height: 15vh;
  position: absolute;
  bottom: 0;
  transform: skewX(15deg);
  opacity: 0.7;
  margin: 0% 0% 0% 49%;
}

.formIcon {
  font-size: 30px;
  color: #B18818;
}

.homeBgImage {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/HomePage-Background.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.PreLoginButtonGold,
.PreLoginButtonGold:hover,
.PreLoginButtonGold:active,
.PreLoginButtonGold:visited,
.PreLoginButtonGold:focus {
  width: 50%;
  min-width: 50%;
  color: #000000;
  background-color: #ECCF70;
}

.PreLoginButtonGreen,
.PreLoginButtonGreen:hover,
.PreLoginButtonGreen:active,
.PreLoginButtonGreen:visited,
.PreLoginButtonGreen:focus {
  width: 50%;
  min-width: 50%;
  color: #135441;
  background-color: #ECCF70;
}

.PreLoginButtonRed,
.PreLoginButtonRed:hover,
.PreLoginButtonRed:active,
.PreLoginButtonRed:visited,
.PreLoginButtonRed:focus {
  width: 50%;
  min-width: 50%;
  color: #93131D;
  background-color: #FFFFFF;
}

.PreLoginLeftContent {
  width: 25%;
  position: absolute;
  bottom: 10%;
  margin: 0% 0% 0% 0%;
}

.PreLoginLeftContentMobile {
  width: 75%;
  position: absolute;
  bottom: 10%;
  margin: 0% 0% 0% 0%;
}

.PreLoginRightContent {
  width: 25%;
  position: absolute;
  top: 10%;
  left: 50%;
  margin: 0% 0% 0% 0%;
}

.PreLoginRightContentMobile {
  width: 75%;
  position: absolute;
  top: 10%;
  left: 25%;
  margin: 0% 0% 0% 0%;
}

.LoginButtonGreen,
.LoginButtonGreen:hover,
.LoginButtonGreen:active,
.LoginButtonGreen:visited,
.LoginButtonGreen:focus {
  min-width: 50%;
  background-color: #135441;
  color: #FFFFFF;
}

.LoginButtonRed,
.LoginButtonRed:hover,
.LoginButtonRed:active,
.LoginButtonRed:visited,
.LoginButtonRed {
  min-width: 50%;
  background-color: #93131D;
  color: #FFFFFF;
}

.goldenFont {
  color: #B18818;
}